# Custom config overrides
datastore.properties

# Gradle
.gradle
gradlew.bat

# Build files
build
out

# Log files
*.log

# Native files
native
bin

# Idea files
.idea
*.iml

# Eval
*.svg
*.pgf
*.png
venv/
.ipynb_checkpoints/
run_*/